#FOR HEROKU DEPLOY client/public client/src client/node_module client/.env 
#client/build
client/public

client/src
client/src/fonts
client/src/images

*/.env
*/package-lock.json
*/node_modules

node_modules
#/.env
/package-lock.json
#keys.js
#admin.json
*.txt
Oldserver.js