#HEROKU DEPLOY NEEDED RESOURCES::
#client/public #models #.env #admin.json #keys.js #package.json #Procfile #server.js

#NOT NEEDED (un-comment below when deploying):
#client/
#!client/build
#*.txt
#*-lock.json
#README.md



#GITHUB PUSH NEEDED RESOURCES::
#client/public #client/src #client/package.json #models #.gitignore #package.json #README.md #testBlob.txt #server.js

#NOT NEEDED: (un-comment below when pushing to github):
client/build
client/.env
.env
*.json
!package.json
keys.js
Procfile
ignore.txt

*/package-lock.json
package-lock.json
node_modules
*/node_modules
*/*/node_modules
*/**/node_modules