.error-pane{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    box-shadow: 0 0 10px 2px red;
    border-radius: 1vw;
    width: 70%;
    margin: auto;
}
.error-pane *:not([class="retry-cta"]){
    padding:0.3vw;
    color: var(--grey);
}

.error-pane .error-title{
    text-align: center;
    font-family: monospace;
    font-size: 1.4rem;
}
.error-pane .error-body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 1.15rem;
}
.error-pane .retry-cta{
    text-align: center;
    padding: 1vw 0 1vh;
}
.error-pane .retry-cta button{
    color: var(--cta-primary);
    font-family: monospace;
    font-weight: 800;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    outline: 1px solid var(--cta-primary);
    padding: 0.5vh 1vw;
    transition: var(--transition);
}
.error-pane .retry-cta button:hover{
    background: var(--cta-primary);
    color: var(--dark);
}
