.error-pane{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    box-shadow: 0 0 10px 2px red;
    border-radius: 1vw;
    width: max-content;
    margin: auto;
    min-width: 50%;
    padding:1% 0;
    max-width: 100%;
}

.error-pane .error-title{
    text-align: center;
    font-family: monospace;
    font-size: 1.2rem;
    color: var(--text);
    line-height: 0.5;
}
.error-pane .error-image{
    width: max-content;
    max-width: 100px;
    padding-right: 3%;
}
.error-image img{
    width: 100%;
}

.error-pane .retry-cta{
    text-align: center;
}
.error-pane .retry-cta button{
    color: var(--cta-primary);
    font-family: monospace;
    font-weight: 800;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--cta-primary);
    cursor: pointer;
    font-size: 1.1rem;
    outline: none;
    transition: var(--transition);
}
.error-pane .retry-cta button:hover{
    background: var(--cta-primary);
    color: var(--dark);
}
