.footer{
    position: fixed;
    bottom: 0px;
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
    color: var(--text)
}
.footer .devvie{
    background: var(--trans-black);
    padding: 0;
    margin:0;
    font-size: 0.9rem;
}
.devvie a{
    color: var(--cta-primary);
}
.devvie .mdi-heart{
    color: red;
    animation: Glow 0.5s infinite alternate;
}

@keyframes Glow{
    from{
        font-size: 1rem;
        text-shadow: none;
    }
    to{
        font-size: 1.3rem;
        text-shadow: 0 0 20px red;
    }
}