
   .image-result {
    overflow: hidden;
    display: inline-block;
    max-width: 240px;
    max-height: 240px;
    position: relative;
    box-shadow: 0 0 14px #f38b03dd;
    margin:2%;
    width:240px;
    border-radius: 1vw;
    height: 240px;
    min-width: 200px;
    min-height: 200px;
  }
  .image-result:first-child{
    margin-left: 0;
  }
  .image-result:last-child{
    margin-right:0;
  }
  .image-result:only-child{
    float: left;
  }
  .image-result:hover .img-cover {
    opacity: 1;
  }
  .image-result .img-wrap {
    width: 100%;
    height: 100%;
    border-radius: 1vw;
  }
  .img-wrap img {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1vw;
  }
  .image-result .img-cover {
    position: absolute;
    top: 0px;
    border-radius: 1vw;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 1vw;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: var(--transition);
  }
  .img-cover div{
      display: contents;
  }
  .img-cover a button, .img-cover > div a button {
    padding: 2%;
    background: transparent;
    border: 1px solid var(--cta-primary);
    cursor: pointer;
    font-family: "Raleway";
    font-size: 0.95rem;
    font-weight: 600;
    transition: var(--transition);
    outline: none;
    color: var(--cta-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .img-cover a{
    text-decoration: none;
    display: block;
    margin-top: 5%;
  }
  .img-cover a:first-child{
      margin-top: 0;
  }
  .img-cover button i {
    font-size: 1.3rem;
    line-height: 0;
    vertical-align: baseline;
    margin-right: 0.8vw;
  }
  .img-cover button:hover{
    background: var(--cta-primary);
    color: var(--dark);
  }
  .img-cover a button#visit {
    margin-top: 3vh;
  }