@import '../fonts/mdi/css/materialdesignicons.min.css';
/*@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');*/
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-SemiBold.ttf");
  font-style: normal;
  font-display: normal;
  line-height: 1;
}
html{
  --app-background: url('../images/dark-bg.jpg')/* #f7ebeb*/;
  --cta-primary: orange;
  --text: #c4c4c499;
  --trans-bg: #c4c4c426;
  --trans-bg10: #c4c4c41a;
  --grey: #c4c4c4;
  --black: #313131;
  --trans-black: #00000070;
  --dark: #000000;
  --white: #eee;
  

  --font-family: 'Source Sans Pro','Raleway', 'Trebuchet MS';
  --box-shadow: 0 0 10px 3px var(--text);
  --font-size: calc(10px + 1vmin);
  --transition: 0.5s all ease-in-out;
  --app-padding: 2.5vw;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size);
}
#root{
  background: #00000077;
}
body {
  background: var(--app-background);
  color: var(--cta-primary);
  font-size: var(--font-size);
  margin: 0;
  font-family: var(--font-family), BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import '../styles/ResponsiveStyle.css';

