@import '../fonts/mdi/css/materialdesignicons.min.css';
/*@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');*/
html{
  --app-background: url('../images/dark-bg.jpg')/* #f7ebeb*/;
  --cta-primary: #ffa500;
  --text: #c4c4c499;
  --trans-bg: #c4c4c426;
  --trans-bg10: #c4c4c41a;
  --grey: #c4c4c4;
  --black: #313131;
  --trans-black: #00000070;
  --dark: #000000;
  --white: #eee;
  
  --font-family: 'Source Sans Pro','Raleway', 'Trebuchet MS';
  --box-shadow: 0 0 10px 3px var(--text);
  /* --font-size: calc(10px + 1vmin); */
  --transition: 0.5s all ease-in-out;
  --app-padding: 2.5vw;
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
  }
  
/* Type */

html {
  font-size: 16pt;
}

  @media screen and (max-width: 1680px) {

    html {
      font-size: 12pt;
    }

  }

  @media screen and (max-width: 736px) {

    html {
      font-size: 11pt;
    }

  }

  @media screen and (max-width: 360px) {

    html {
      font-size: 12pt;
    }

  }

  body, input, select, textarea {
		color: inherit;
		font-family: var(--font-family);
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.65;
  }

  a {
		text-decoration: none;
		color: inherit;
  }
  strong, b {
		font-weight: 600;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 1rem 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		line-height: 1.5;
		margin: 0 0 1rem 0;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

		h1.major, h2.major, h3.major, h4.major, h5.major, h6.major {
			border-bottom: solid 1px #ffffff;
			width: -moz-max-content;
			width: -webkit-max-content;
			width: -ms-max-content;
			width: max-content;
			padding-bottom: 0.5rem;
			margin: 0 0 2rem 0;
		}

	h1 {
		font-size: 2.25rem;
		line-height: 1.3;
		letter-spacing: 0.5rem;
	}

	h2 {
		font-size: 1.5rem;
		line-height: 1.4;
		letter-spacing: 0.5rem;
	}

	h3 {
		font-size: 1rem;
	}

	h4 {
		font-size: 0.8rem;
	}

	h5 {
		font-size: 0.7rem;
	}

	h6 {
		font-size: 0.6rem;
	}

	@media screen and (max-width: 736px) {

		h1 {
			font-size: 1.75rem;
			line-height: 1.4;
		}

		h2 {
			font-size: 1.25em;
			line-height: 1.5;
		}

	}

	sub {
		font-size: 0.8rem;
		position: relative;
		top: 0.5rem;
	}

	sup {
		font-size: 0.8rem;
		position: relative;
		top: -0.5rem;
	}

	blockquote {
		border-left: solid 4px #ffffff;
		font-style: italic;
		margin: 0 0 2rem 0;
		padding: 0.5rem 0 0.5rem 2rem;
	}

	code {
		background: rgba(255, 255, 255, 0.075);
		border-radius: 4px;
		font-family: "Courier New", monospace;
		font-size: 0.9rem;
		margin: 0 0.25rem;
		padding: 0.25rem 0.65rem;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9rem;
		margin: 0 0 2rem 0;
	}

		pre code {
			display: block;
			line-height: 1.75;
			padding: 1rem 1.5rem;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 1px #ffffff;
		margin: 2.75rem 0;
	}

	[hidden]{
		display: none;
	}
	[disabled],[disabled="true"]{
		opacity:0.6;
		pointer-events: none;
		touch-action: none;
	}
	form[disabled]{
		opacity: 0.7;
	}
/*================================================*/
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-SemiBold.ttf");
  font-style: normal;
  font-display: normal;
  line-height: 1;
}



#root{
  background: #00000077;
}
body {
  background: var(--app-background);
  color: var(--cta-primary);
  font-size: var(--font-size);
  margin: 0;
  font-family: var(--font-family), BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import '../styles/ResponsiveStyle.css';

