/* === LOADER STYLING === credit: reavenclaw | codepen*/

/*NORMAL SIZE LOADER*/
.loader-wrapper_normal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding: 1vw 0 0;
}
.loader-wrapper_normal p{
    font-size: 1.1rem;
    text-transform: uppercase;
}
.loader-wrapper_normal .loader {
  display: flex;
  padding:1%;
  height: 5rem;
}

.loader-wrapper_normal .loader .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  animation-name: Loading_normal;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
  animation-direction: alternate;
}

.loader-wrapper_normal .loader .circle:first-child {
  background-color: var(--cta-primary);
  animation-delay: 0s;
}

.loader-wrapper_normal .loader .circle:nth-child(2) {
  background-color: #f44708;
  animation-delay: 0.2s;
}

.loader-wrapper_normal  .loader .circle:nth-child(3) {
  background-color: var(--cta-primary);
  animation-delay: 0.4s;
  margin-right: 0px;
}

@keyframes Loading_normal {
  from {
    transform: translateY(25px);
    border: 3px solid white;
    width: 35px;
    height: 35px;
    /* transform: rotate(320deg); */
  }
  to {
    transform: translateY(0px);
    border: none;
    width: 25px;
    height: 25px;
    /* transform: rotate(0); */
  }
}
/* === LOADER STYLING === */

/*SMALL SIZE LOADER*/
.loader-wrapper_small{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  padding: 1vw 0 0;
}
.loader-wrapper_small p{
  font-size: 1rem;
}
.loader-wrapper_small .loader {
display: flex;
padding: 1.5vw;
height: 4.5vw;
}

.loader-wrapper_small .loader .circle {
width: 15px;
height: 15px;
border-radius: 50%;
margin-right: 5px;
animation-name: Loading_small;
animation-duration: 0.6s;
animation-timing-function: ease-in-out;
animation-iteration-count:infinite;
animation-direction: alternate;
}

.loader-wrapper_small .loader .circle:first-child {
background-color: var(--cta-primary);
animation-delay: 0s;
}

.loader-wrapper_small .loader .circle:nth-child(2) {
background-color: #f44708;
animation-delay: 0.2s;
}

.loader-wrapper_small .loader .circle:nth-child(3) {
background-color: var(--cta-primary);
animation-delay: 0.4s;
margin-right: 0px;
}

@keyframes Loading_small {
from {
  transform: translateY(35px);
  border: 2px solid white;
  width: 20px;
  height: 20px;
  /* transform: rotate(320deg); */
}
to {
  transform: translateY(0px);
  border: none;
  width: 15px;
  /* transform: rotate(0); */
}
}
/* === LOADER STYLING === */

/*VERY SMALL SIZE LOADER*/
.loader-wrapper_v-small{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}
.loader-wrapper_v-small p{
  display: none;
}
.loader-wrapper_v-small .loader {
display: flex;
}

.loader-wrapper_v-small .loader .circle {
width: 8px;
height: 8px;
border-radius: 50%;
margin-right: 2px;
animation-name: Loading_v-small;
animation-duration: 0.6s;
animation-timing-function: ease-in-out;
animation-iteration-count:infinite;
animation-direction: alternate;
}

.loader-wrapper_v-small .loader .circle:first-child {
background-color: var(--cta-primary);
animation-delay: 0s;
}

.loader-wrapper_v-small .loader .circle:nth-child(2) {
background-color: #f44708;
animation-delay: 0.2s;
}

.loader-wrapper_v-small .loader .circle:nth-child(3) {
background-color: var(--cta-primary);
animation-delay: 0.4s;
margin-right: 0px;
}

@keyframes Loading_v-small {
from {
  transform: translateY(10px);
  width: 12px;
  height: 12px;
  /* transform: rotate(320deg); */
}
to {
  transform: translateY(0px);
  width: 8px;
  /* transform: rotate(0); */
}
}
/* === LOADER STYLING === */


