/*
    .result-set .image-result {
        width: 230px;
        height: 230px;
        margin:2vw 0;
        box-shadow: 0 0 8px #f38b03dd;
    }
    .result-set .image-result .img-cover a {
        padding: 2%;
    }
    .result-set .image-result .img-cover a > button{
        padding: 3%;
    }
    .search-time .collapse-btn i::before{
        outline: none;
    }
}
@media screen and (min-width: 401px) and (max-width: 720px){

    .result-set .image-result {
        width: 35vw;
        height: 35vw;
        min-width: 35vw;
        max-width: 280px;
        max-height: 280px;
        min-height: 35vw;
        margin-block: 2vw;
        box-shadow: 0 0 8px #f38b03dd;
    }
}
@media screen and (min-width: 1185px){
    .results-wrapper .result-set .media-results {
        text-align-last: left;
    }
} */

@keyframes Bounce {
    50%{
        transform: translateY(5px);
    }
}
@keyframes Bouncee {
    50%{
        transform:translateY(3vh) ;
    }
}

@media screen and (max-width:582px){
    .main-body .search-pane form{
      width: 98%;
    }
    .options-block .field{
        margin: 0 5%;
    }
    .search-pane .options-block .pagination {
        padding-bottom: 0.2%;
      }
  }

  @media screen and (min-width:583px) and (max-width:1022px){
    .main-body .search-pane form{
      width: 75%;
    }
  }

  @media screen and (max-width:480px){
    .search-pane form .boxLabel input{
      border-bottom: none;
    }
    #search-form .text-block label.boxLabel {
        border-top-left-radius:0;
        border-bottom-right-radius: 0;
        border-radius:5px;
    }
    .search-pane .searchbtn-wrapper button {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
    .search-pane form .searchbox-wrapper{
        padding: 0.3rem;
    }
    .search-pane form .searchbox-wrapper input{
        border: none;
        width: 100%;
        border-top-left-radius: none;
        font-size: 1rem;
    }
    .results-wrapper .error-pane {
        box-shadow: none;
        border-bottom: 1px dotted #ff00008a;
        padding: 1%;
    }
    .results-wrapper .error-pane .error-title{
        line-height: 1;
        padding: 0;
        font-size: 1rem;
    }
    .results-wrapper .error-pane .error-image img{
        width: 80%;
    }
    .results-wrapper .error-pane .retry-cta button{
        font-size: 1rem;
    }
    .search-pane .search-mode-toggler{
        border-top-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }
    .search-pane .search-mode-toggler button{
        padding:0.5rem 1.1rem;
    }
    .search-pane .search-mode-toggler button:first-child {
        border-top-left-radius:1.5rem;
      }
      .search-pane .search-mode-toggler button:nth-child(2){
        border-bottom-right-radius:1.5rem;
      }
  }
  