.result-set{
    width: 100%;
    border: none;
    background: var(--trans-bg10);
    border-left: 7px solid var(--cta-primary);
}
.result-set:not(:first-child){
    margin-top: 3%;
}
.result-set .set-info{
    display: flex;
    color: var(--text);
    align-items: center;
    background: var(--trans-bg10);
    justify-content: space-between;
}
.set-info .two-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.set-info .two-wrap .search-count{
    background: var(--dark);
    font-size: 1.4rem;
    padding: 3vh 3vh 3vh 0.5vw;
    border: 1px solid red;
    margin-right: 2vw;
    line-height: 0.5;
    border-top-right-radius: 6vh;
    position: relative;
    left: -0.2vw;
}
.set-info .search-time{
    padding-right: 1vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    letter-spacing: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.set-info .search-time .collapse-btn {
    padding-right: 3vw;
    cursor: pointer;
    position: relative;
    display: inline-flex;
}
.search-time .collapse-btn i {
    font-size: 2rem;
    color: var(--cta-primary);
    display: contents;
}
.collapse-btn i::before{
    line-height: 0.85;
    outline: 1px solid red;
}
.result-set .media-results{
    text-align: center;
    padding: 3% 1.5%;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    animation: moveIn 0.5s alternate ease-in-out;
}

@keyframes moveIn {
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 0.5;
        transform: translateY(0);
    }
}